*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Arial, sans-serif;
background:#fff7ed;
color:#222;
}


.hero{
height:90vh;
position:relative;
overflow:hidden;
}


.hero img{
width:100%;
height:100%;
object-fit:cover;
}


.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.55);
color:white;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
padding:20px;
}


h1{
font-size:45px;
}


a{
background:#16a34a;
color:white;
padding:15px 25px;
border-radius:30px;
text-decoration:none;
display:flex;
gap:10px;
align-items:center;
font-weight:bold;
}


section{
padding:50px 20px;
text-align:center;
}


.cards{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}


.card{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 5px 20px #ddd;
}


.events{
background:#fed7aa;
}


.delivery{
background:#ea580c;
color:white;
}


.phone{
display:inline-block;
}


footer{
background:#111;
color:white;
padding:20px;
text-align:center;
}
